.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    box-shadow: gray 0px 0px 20px 0px;
    width: 100%;
    visibility: inherit;
    position: relative;
}

.logo_nav {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo_nav img {
    height: 50px;
    margin: 8px;
}

.links_nav {
    display: flex;
    align-items: center;
    gap: 70px;
    margin-right: 30px;
}

.help_nav {
    text-decoration: none;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    background: #1e3c72;
    cursor: pointer;
    font-weight: bold;
    color: white;

}

.booking_nav {
    text-decoration: none;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    background: #1e3c72;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.profile_nav {
    text-decoration: none;
    padding: 4px;
    border-radius: 50%;
    background: #1e3c72;
    cursor: pointer;
}

.help_nav.active {
    background: grey;
    color: black;
}

.help_nav:active {
    color: black;
    background: grey;
}
.help_nav:hover {
    background: grey;
    color: black;
}

.booking_nav.active {
    background: gray;
    color: black;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
}

.booking_nav:active {
    color: grey;
}

.profile_nav {
    font-size: x-large;
}

.custom-button_nav {
    background-color: grey;
}

.logout_nav {
    text-decoration: none;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    background: #1e3c72;
    cursor: pointer;
    font-weight: bold;
    color: white;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

.logout_nav:hover {
    background:grey;
    color: black;
}
  
